*{
    margin: 0;
    padding: 0;
}
ul{
    background-color: rgb(240, 24, 240);
    color: white;
    width: 250px;
    height: 360px;
}
.container{
    color: red;
}
.bc{
    background-image: url(pic.jpg);
    color: black;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}